body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #191919;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.icon-container {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 280px;
  height: 280px;
}

.icon-container img {
  max-width: 100%; /* Certifique-se de que a imagem não ultrapasse a largura do contêiner */
  max-height: 100%; /* Certifique-se de que a imagem não ultrapasse a altura do contêiner */
}

.card-container {
  display: flex;
}

.card {
  width: 160px; /* Largura do card */
  height: 200px; /* Altura do card */
  margin: 0 10px;
  background-color: #ddd; /* Cor de fundo do card */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #bbb; /* Cor de fundo do card ao passar o mouse */
}
